<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Contact form">
    <meta name="keywords" content="HTML, CSS, JavaScript, htmx">
    <meta name="author" content="Jerome Olivier">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jerome Olivier</title>
    <link rel='stylesheet' href="css/style.css"/>
    <script src="js/htmx.js" defer></script>
  </head>
  <body class="blue-background">
    <header>
      <div aria-hidden="true" class="colors">
        <div aria-hidden="true" class="color-btn red-fill" onclick="swapBackgroundColor('red')"></div>
        <div aria-hidden="true" class="color-btn orange-fill" onclick="swapBackgroundColor('orange')"></div>
        <div aria-hidden="true" class="color-btn yellow-fill" onclick="swapBackgroundColor('yellow')"></div>
        <div aria-hidden="true" class="color-btn green-fill" onclick="swapBackgroundColor('green')"></div>
        <div aria-hidden="true" class="color-btn blue-fill" onclick="swapBackgroundColor('blue')"></div>
        <div aria-hidden="true" class="color-btn purple-fill" onclick="swapBackgroundColor('purple')"></div>
        <div aria-hidden="true" class="color-btn fuchsia-fill" onclick="swapBackgroundColor('fuchsia')"></div>
        <div aria-hidden="true" class="color-btn grey-fill" onclick="swapBackgroundColor('grey')"></div>
      </div>
      <nav role="tablist">
        <button class="tab"
                hx-get="/about"
                hx-swap="innerHTML"
                hx-target="main"
                onclick=makeSelected(this)
                role="tab"
                aria-selected="true"
                aria-label="for information about me">about
        </button>
        <button class="tab"
                hx-get="/resume"
                hx-swap="innerHTML"
                hx-target="main"
                onclick=makeSelected(this)
                role="tab"
                aria-selected="false"
                aria-label="for my resume">resume
        </button>
        <button class="tab"
                hx-get="/contact"
                hx-swap="innerHTML"
                hx-target="main"
                onclick=makeSelected(this)
                role="tab"
                aria-selected="false"
                aria-label="fill out a form to get in touch with me">contact
        </button>
      </nav>
    </header>
    <main hx-get="/about" hx-trigger="load" hx-target="this" hx-swap="innerHTML">
    </main>
    <script>
      const swapBackgroundColor = (color) => document.querySelector("body").className = `${ color }-background`;
      const makeSelected = (tab) => {
        document.querySelectorAll(".tab").forEach(tab => tab.setAttribute("aria-selected", "false"));
        tab.setAttribute("aria-selected", "true");
      }
    </script>
  </body>
</html>
